{{ define "400" }}

{{ template "site-start" . }}

{{ template "hero" .Hero }}

{{ if ne .Err "bad request" }}
<h3 class="max-lg:text-xl lg:text-2xl text-accent max-lg:py-2 lg:py-3">
    Error: {{ .Err }}
</h3>
{{ end }}

{{ template "site-end" }}

{{ end }}