{{ define "500" }}

{{ template "site-start" . }}

{{ template "hero" .Hero }}

<div class="max-lg:py-2 lg:py-3"></div>

<h3 class="max-lg:text-xl lg:text-2xl">
    <a class="link link-primary" href="{{ .GitHubIssue }}" target="_blank" rel="noopener noreferrer">
        Open a new issue on GitHub!
    </a>
</h3>


{{ template "site-end" }}

{{ end }}