{{ define "contact" }}
<div class="flex-none max-lg:py-5 lg:py-10 flex flex-col" id="contact">

    <h2 class="text-3xl font-bold mx-auto">Contact</h2>

    <h3 class="text-xl mx-auto py-2">Open issue: <a class="link link-primary"
            href="https://github.com/elmasy-com/columbus/issues">
            github.com/elmasy-com/columbus/issues</a></h3>
    <h3 class="text-xl mx-auto py-2">Security issue via email: columbus _at_ elmasy _dot_ com</h3>

    <h3 class="text-lg">Social:</h3>
    <ul class="list-disc">
        <li>Github: <a class="link link-primary" href="https://github.com/elmasy-com/columbus">elmasy-com</a></li>
        <li>Twitter: <a class="link link-primary" href="https://twitter.com/elmasy_com">elmasy_com</a></li>
        <li>Mastodon: <a class="link link-primary" href="https://infosec.exchange/@elmasy">elmasy</a></li>
    </ul>
</div>
{{ end }}