{{ define "contact" }}

{{ template "site-start" . }}

{{ template "hero" .Hero }}

<div class="max-lg:py-2 lg:py-3"></div>

<ul class="max-md:max-w-[90%] md:max-w-[70%] lg:max-w-[50%] list-disc">
    <li>
        Security contact: columbus _at_ elmasy _dot_ com
    </li>
    <li>
        Github:
        <a class="link link-primary" href="https://github.com/elmasy-com/columbus">
            elmasy-com
        </a>
    </li>
    <li>
        Twitter:
        <a class="link link-primary" href="https://twitter.com/elmasy_com">
            elmasy_com
        </a>
    </li>
    <li>
        Mastodon:
        <a class="link link-primary" href="https://infosec.exchange/@elmasy">
            elmasy
        </a>
    </li>
</ul>

{{ template "site-end" }}

{{ end }}