{{ define "header" }}
<header class="flex-none flex justify-center">

    <div class="navbar">

        <div class="navbar-start">

            <a href="/" class="flex text-xl items-center">
                <img src="/logo.svg" alt="Logo" class="max-h-8 pr-4">
                Columbus Project
            </a>
        </div>

        <div class="navbar-end">
            <ul class="menu menu-horizontal px-1 max-lg:hidden">
                <li><a href="/#statistics">Statistics</a></li>
                <li>
                    <details>
                        <summary>
                            API
                        </summary>
                        <ul class="p-2 bg-base-100">
                            <li><a href="/#lookup_api">Lookup</a></li>
                            <li><a href="/#history_api">History</a></li>
                            <li><a href="/#starts_api">Starts</a></li>
                            <li><a href="/#tld_api">TLD</a></li>
                            <li><a class="link link-primary" href="/swagger/index.html">Documentation</a>
                            </li>
                        </ul>
                    </details>
                </li>
                <li><a href="/#dns_server">DNS Server</a></li>
                <li><a href="/#privacy_policy">Privacy Policy</a></li>
                <li><a href="/#contact">Contact</a></li>
            </ul>

            <details class="dropdown dropdown-left dropdown-bottom lg:hidden">
                <summary tabindex="0" class="btn btn-ghost ">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h8m-8 6h16" />
                    </svg>
                </summary>
                <ul tabindex="0"
                    class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a href="/#statistics">Statistics</a></li>
                    <li>
                        <details>
                            <summary>
                                API
                            </summary>
                            <ul class="p-2 bg-base-100">
                                <li><a href="/#lookup_api">Lookup</a></li>
                                <li><a href="/#history_api">History</a></li>
                                <li><a href="/#starts_api">Starts</a></li>
                                <li><a href="/#tld_api">TLD</a></li>
                                <li><a class="link link-primary" href="/swagger/index.html">Documentation</a>

                            </ul>
                        </details>
                    </li>
                    <li><a href="/#dns_server">DNS Server</a></li>
                    <li><a href="/#privacy_policy">Privacy Policy</a></li>
                    <li><a href="/#contact">Contact</a></li>
                </ul>
            </details>
        </div>
    </div>
</header>
{{ end }}