{{ define "sitemap" }}<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {{ range . }}
    <url>
        <loc>{{ .Location }}</loc>
        <changefreq>{{ .Freq }}</changefreq>
        <priority>{{ .Priority }}</priority>
   </url>
   {{ end }}
</urlset>{{ end }}
