{{ define "starts" }}
<div class="flex-none max-lg:py-5 lg:py-10 flex flex-col" id="starts_api">

    <h2 class="text-3xl font-bold mx-auto">Starts API</h2>

    <h3 class="text-base max-lg:py-2 lg:py-12">Returns a list of all known Second Level Domains thats start with the
        given domain
        in a JSON array or a newline delimetered string.</h3>

    <img class="pt-12 max-lg:hidden mx-auto" src="https://columbus.elmasy.com/starts.gif" alt="starts.gif"
        loading="lazy">

    <p class="pt-2 max-lg:hidden mx-auto">This endpoint can returns 1809 domains that starts with "<i>reddit</i>" in
        less
        than 4 seconds.
    </p>

    <p class="pt-2">URL: <code class="text-primary">/api/starts/{domain}</code></p>

    <p class="py-2">The <code class="text-primary">domain</code> parameter must be at least five character long,
        valid Second Level Domain (eg.: <code class="text-primary">reddit</code>).</p>

    <p class="py-2">Check the details and try it out in the <a class="link link-primary"
            href="https://columbus.elmasy.com/swagger/index.html#/domain/get_api_starts__domain_">documentation</a>.
    </p>

    <p class="max-lg:hidden lg:py-6">Example:</p>

    <div class="w-full mockup-code mx-auto my-4 max-lg:hidden shadow-sm shadow-accent">
        <pre data-prefix="$"><code>curl "https://columbus.elmasy.com/api/starts/reddit"</code></pre>
        <pre><code>["reddit", "redditmedia", "redditstatistic", ...]</code></pre>
    </div>

    <div class="w-full mockup-code mx-auto my-4 max-lg:hidden shadow-sm shadow-accent">
        <pre
            data-prefix="$"><code>curl -H "Accept: text/plain" "https://columbus.elmasy.com/api/starts/reddit"</code></pre>
        <pre><code>reddit</code></pre>
        <pre><code>redditmedia</code></pre>
        <pre><code>redditstatistic</code></pre>
        <pre><code>...</code></pre>
    </div>

</div>

{{ end }}