{{ define "statistics" }}

{{ template "site-start" . }}

{{ template "hero" .Hero }}


<!-- Statistics -->
<div class="stats stats-vertical lg:stats-horizontal max-lg:py-2 lg:py-6">

    <!-- Total Domain-->
    <div class="stat place-items-center">
        <div class="stat-title">Total Domain</div>
        <div class="stat-value">{{ prettyPrintInt64 .Statistics.Total }}</div>
        <div class="stat-desc">Number of unique domains</div>
    </div>

    <!-- Checked Domain-->
    <!-- <div class="stat place-items-center">
        <div class="stat-title">Checked Domains</div>
        <div class="stat-value">{{ prettyPrintInt64 .Statistics.Updated }}</div>
        <div class="stat-desc">{{ prettyPrintFloat64 .Statistics.UpdatedPercent }} of the total</div>
    </div> -->

    <!-- Valid Domain-->
    <div class="stat place-items-center">
        <div class="stat-title">Valid Domains</div>
        <div class="stat-value">{{ prettyPrintInt64 .Statistics.Valid }}</div>
        <div class="stat-desc">{{ prettyPrintFloat64 .Statistics.ValidPercent }}% of the total</div>
    </div>

</div>

<h2 class="max-md:text-xl md:text-2xl font-bold max-lg:py-6 lg:py-12">
    Certificate Transparency Logs
</h2>

<div class="min-w-[50%]">
    <table class="table justify-center align-middle items-center">
        <!-- head -->
        <thead class="justify-center align-middle items-center">
            <tr class="border-accent text-center">
                <th class="font-bold max-lg:text-lg lg:text-xl text-primary">Name</th>
                <th class="font-bold max-lg:text-lg lg:text-xl text-primary">Index</th>
                <th class="font-bold max-lg:text-lg lg:text-xl text-primary">Size</th>
                <th class="font-bold max-lg:text-lg lg:text-xl text-primary">Remaining</th>
                <th class="max-lg:hidden font-bold lg:text-xl text-primary">Progress</th>
            </tr>
        </thead>

        <!-- Body -->
        <tbody class="justify-center align-middle items-center">
            {{ range .Statistics.CTLogs }}
            <tr class="border-accent text-center">
                <td class="text-accent">{{ .Name }}</td>
                <td class="text-accent">{{ prettyPrintInt64 .Index }}</td>

                <td class="text-accent">{{ prettyPrintInt64 .Size }}</td>
                <td class="text-accent">{{ prettyPrintInt64 .Remaining }}</td>

                <td class="max-lg:hidden">
                    <div class="tooltip font-bold" data-tip="{{ prettyPrintFloat64 .Progress }}%">
                        {{ if gt .Progress 100.0 }}
                        <progress class="progress progress-success w-full" value="100" max="100"></progress>
                        {{ else if gt .Progress 95.0 }}
                        <progress class="progress progress-success w-full" value="{{ prettyPrintFloat64 .Progress }}"
                            max="100"></progress>
                        {{ else if gt .Progress 50.0 }}
                        <progress class="progress progress-warning w-full" value="{{ prettyPrintFloat64 .Progress }}"
                            max="100"></progress>
                        {{ else }}
                        <progress class="progress progress-error w-full" value="{{ prettyPrintFloat64 .Progress }}"
                            max="100"></progress>
                        {{ end }}
                    </div>
                </td>
            </tr>
            {{ end }}
        </tbody>

        <!-- Footer -->
        <tfoot class="justify-center align-middle items-center">
            <tr class="border-accent border-double border-t-[6px] text-center">
                <th class="font-bold lg:text-lg text-accent">Total</th>
                <th class="font-bold lg:text-lg text-accent">{{ prettyPrintInt64 .Statistics.CTTotalIndex}} </th>
                <th class="font-bold lg:text-lg text-accent">{{ prettyPrintInt64 .Statistics.CTTotalSize}} </th>
                <th class="font-bold lg:text-lg text-accent">{{ prettyPrintInt64 .Statistics.CTTotalRemaining}} </th>
                <td class="max-lg:hidden">
                    <div class="tooltip font-bold" data-tip="{{ prettyPrintFloat64 .Statistics.CTTotalProgress }}%">
                        {{ if gt .Statistics.CTTotalProgress 100.0 }}
                        <progress class="progress progress-success w-full" value="100" max="100"></progress>
                        {{ else if gt .Statistics.CTTotalProgress 95.0 }}
                        <progress class="progress progress-success w-full"
                            value="{{ prettyPrintFloat64 .Statistics.CTTotalProgress }}" max="100"></progress>
                        {{ else if gt .Statistics.CTTotalProgress 50.0 }}
                        <progress class="progress progress-warning w-full"
                            value="{{ prettyPrintFloat64 .Statistics.CTTotalProgress }}" max="100"></progress>
                        {{ else }}
                        <progress class="progress progress-error w-full"
                            value="{{ prettyPrintFloat64 .Statistics.CTTotalProgress }}" max="100"></progress>
                        {{ end }}
                    </div>
                </td>
            </tr>
        </tfoot>

    </table>
</div>

<h2 class="max-md:text-xl md:text-2xl font-bold max-lg:py-6 lg:py-12">
    History
</h2>

{{ .Statistics.HistoryChart }}


<div class="min-w-[50%]">
    <table class="table justify-center align-middle items-center">
        <!-- head -->
        <thead class="justify-center align-middle items-center">
            <tr class="border-accent text-center">
                <th></th>
                <th class="font-bold max-lg:text-lg lg:text-xl text-primary">Date</th>
                <th class="font-bold max-lg:text-lg lg:text-xl text-primary">Total</th>
                <th class="font-bold max-lg:text-lg lg:text-xl text-primary">Updated</th>
                <th class="font-bold max-lg:text-lg lg:text-xl text-primary">Valid</th>
                <th class="max-lg:hidden font-bold lg:text-xl text-primary">CT Logs</th>
            </tr>
        </thead>

        <!-- Body -->
        <tbody class="justify-center align-middle items-center">
            {{ range .Statistics.History }}
            <tr class="border-accent text-center">
                <td class="text-accent">{{ .Num }}</td>
                <td class="text-accent">{{ printUnixDate .Date }}</td>
                <td class="text-accent">{{ prettyPrintInt64 .Total }}</td>
                <td class="text-accent">{{ prettyPrintInt64 .Updated }}</td>
                <td class="text-accent">{{ prettyPrintInt64 .Valid }}</td>
                <td class="text-accent">{{ prettyPrintInt64 .CTLogTotal }}</td>
            </tr>
            {{ end }}
        </tbody>

    </table>
</div>

<div class="py-6"></div>

{{ template "site-end" }}

{{ end }}